.marquee-animation {
  animation: marquee 12s infinite alternate;
}

.marquee-animation:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ANIMATION FOR APP SCREENSHOTS */
.animate-img img {
  animation: scroll-img 1s ease-in-out;
  display: block;
}

@keyframes scroll-img {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
